* {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
}

.center{
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}

@media(max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
}
body {
  background-color: #faf9f6;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: url('images/Flow2.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.12);
    /* Adjust 0.1 for desired opacity */
    z-index: 1;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: #FAF8F1;
  background-color: #C58940;
}

p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

h4 {
  font-style: italic;
  color: #3E5F44;
  text-align: center
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  height: 300px;
  object-fit: cover;
  width: 80%;
  flex: 1;
  border-radius: 10px;
  align-items: space-between;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.img-gallery img {
  width: 100%;
  cursor: pointer;
  transition: 1s ease;
  
}

.img-gallery img:hover {
  transform: scale(0.8);
}


/*flex: 1;
  margin: 100px auto 50px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
  align-items: space-between;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-end;
  flex-wrap: wrap;

}*/

.song {
  font-style: italic;
  text-align: center;
  display: grid;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex-item {
  font-style: italic;
  display: flex;
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: #f2f2f2;
  text-align: center;
  margin: 10px;
  max-width: 600px;
  height: 600px;

}

.song p {
  margin-top: 10px;
  color: #333;
}

.song img {
  margin-bottom: 10px;
}

.song h4 {
  margin-top: 5px;
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: #666;
  margin-top: 20px;
}

.navbar {
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 6%;}
  

.navbar a {
  color: #543A14;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
  align-items: center;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    /* Adjust 0.1 for desired opacity */
    z-index: 1;
}

.navbar ul li::after {
  content: "";
  width: 0%;
  /*apply a width of 100% makes the blocks visible*/
  height: 2px;
  background: #DCCFC0;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.navbar ul li:hover::after {
  width: 100%;
  /*apply a width of 100% makes the blocks visible*/

}

.text-box {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 40px;
  /* Adds space below images */
}